*.pyc
.*
config.private.json
tools/portable/img/*.png
*.sqlite3
*.pyc
*.swp
website/website.sqlite*
website/testing.sqlite*
website/bin/
website/include/
website/lib/
website/src/
website/local
website/build/
website/private
website/frontend/data.py
website/static
