[submodule "amazon/flumotion-ugly"]
	path = amazon/flumotion-ugly
	url = git://github.com/timsvideo/flumotion-ugly.git
[submodule "amazon/flumotion"]
	path = amazon/flumotion
	url = git://github.com/timsvideo/flumotion.git
