*.pyc
.*
*~
config.private.json
tools/portable/img/*.png
*.sqlite3
*.pyc
*.swp
website/db/
website/testing.sqlite*
website/bin/
website/include/
website/lib/
website/lib64
website/src/
website/local
website/build/
website/private
website/frontend/data.py
website/static
