{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai ft=htmldjango:
{% endcomment %}
<html>
  <head>
    <title>Graphs</title>
    <link rel="stylesheet" type="text/css" href="/static/css/graphs.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/third_party/jquery.flot.js"></script>
    <script type="text/javascript" src="/static/third_party/jquery.flot.stack.js"></script>
    <script type="text/javascript" src="/static/js/overall_graphs.js"></script>
  </head>
  <body>
    View range: <select>
      <option value=10>10 min</option>
      <option value=30>30 min</option>
      <option value=60>1 hour</option>
      <option value=120>2 hours</option>
    </select>
    <input id="auto-refresh" type="checkbox" checked> Auto-refresh (10 sec)
    <div id="stats-graph-wrapper">
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        // Draw the graph of historical bitrate and client stats.
        // (Defined in overall_graphs.js)
        plot_stats();
      })
    </script>

  </body>
</html>
