{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai ft=htmldjango:
{% endcomment %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/stats.css">
    <meta http-equiv="refresh" content="10">
  </head>
  <body>
    <style>
    .tiny {
      font-size: 6pt;
      }
    </style>
    <h1>Active Servers</h1>
    {% include "stats_table.html" with servers=active_servers overall=active_overall %}
    <hr>
    <h1>In-Active Servers</h1>
    {% include "stats_table.html" with servers=inactive_servers overall=inactive_overall %}
  </body>
</html>
