/* Maximise navbar */

.navbar .container {
	width: inherit;
}


.navbar .container .event-generated {
	font-weight: bold;
}

@media (min-width: 500px) {
	.abstract-dropdown {
		width: 500px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.abstract-dropdown {
	display: block;
	white-space: pre-wrap;
}
.navbar-brand, #player-container, #chat-container {
	padding: 0;
}

#announce.navbar-text {
	margin-top: 8px;
	margin-bottom: 8px;
}

body { padding-top: 70px; }

.chat-preview {
  overflow: hidden;
}

img.video_preload {
  width: 1px;
  height: 1px;
}

.navbar-brand img {
  max-height: 50px;
  padding: 3px 0 3px 3px;
}

.now_title {
  min-height: 3em;
}

.next_div {
  margin-top: 0.5em;
  border-top: 1px solid #ccc;
}

.next_title {
  min-height: 3em;
}
