/* Maximise navbar */

.navbar .container {
	width: inherit;
}


.navbar .container .event-generated {
	font-weight: bold;
}

@media (min-width: 500px) {
	.abstract-dropdown {
		width: 500px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.abstract-dropdown {
	display: block;
	white-space: pre-wrap;
}
.navbar-brand, #player-container, #chat-container {
	padding: 0;
}
