@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.eot');
  src: url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.woff') format('woff'),
       url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.ttf') format('truetype'),
       url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('/static/img/bg.png');
  color: #222;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 #F9F2E6;
}

div {
  border-radius: 5px;
}

div.container_3 {
  border: 0;
  background: transparent;
}

h1 a {
  font-family: LeagueGothicRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  color: #006E91;
  font-variant: small-caps;
  text-shadow: 0 1px 0 #f9f2e6;
}

#twitter-container {
  border: 3px solid #e3dfd4;
  background: #f5f5f5;
}

div.chat {
  border: 1px solid #e3dfd4;
  background: #f5f5f5;
}

hr {
  clear:both;
  width:100%;
  margin:15px 0;
  height:2px;
  background:none;
  border:0;
  background: url('https://us.pycon.org/2012/site_media/static/img/thin_stripe.png') repeat-x 0 0;
}

.sponsor-cell {
  width: 130px;
}

#exp {
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1000;
}

.now_cell {
  height: 1px;
}

.now_div {
  color: #F9F2E6;
  text-shadow: 0 1px 0 #222;
  background: #006e91;
  min-height: 1em;
  height: 100%;
}

.now_title {
  padding: 4px;
}
.now_desc_group {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
}
.next_cell {
  height: 1px;
}

.next_div {
  color: #F9F2E6;
  text-shadow: 0 1px 0 #222;
  background: #006e91;
  min-height: 1em;
  height: 100%;
}

.next_desc_group {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
}

.next_time_group {
  float: left;
  font-size: 16pt;
  padding: 4px;
}
