/*-----------------------------------------------------------
---------------------- Pycon Styles -------------------------
------------------------------------------------------------*/

@font-face {
  font-family: 'LeagueGothicRegular';
/*
  src: url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.eot');
  src: url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.woff') format('woff'),
       url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.ttf') format('truetype'),
       url('https://us.pycon.org/2012/site_media/static/fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
*/
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('/static/img/bg.png');
  color: #222;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 #F9F2E6;
}

div {
  border-radius: 5px;
}

div.container_3 {
  border: 0;
  background: transparent;
}

h1 a {
  font-family: LeagueGothicRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  color: #006E91;
  font-variant: small-caps;
  text-shadow: 0 1px 0 #f9f2e6;
}

#twitter-container {
  border: 3px solid #e3dfd4;
  background: #f5f5f5;
}

div.chat {
  border: 1px solid #e3dfd4;
  background: #f5f5f5;
}

hr {
  clear:both;
  width:100%;
  margin:15px 0;
  height:2px;
  background:none;
  border:0;
  background: url('https://us.pycon.org/2012/site_media/static/img/thin_stripe.png') repeat-x 0 0;
}

.sponsor-cell {
  width: 130px;
}

.now_cell {
  height: 1px;
}

.now_div {
  color: #F9F2E6;
  text-shadow: 0 1px 0 #222;
  background: #006e91;
  min-height: 1em;
  height: 100%;
}

.now_title {
  padding: 4px;
}
.now_desc_group {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
}

.next_div {
  color: #F9F2E6;
  text-shadow: 0 1px 0 #222;
  background: #006e91;
  min-height: 1em;
  height: 100%;
}

.next_desc_group {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
}

.next_time_group {
  float: left;
  font-size: 16pt;
  padding: 4px;
}
.now_time_group {
  float: left;
  font-size: 16pt;
  padding: 4px;
}

/*-----------------------------------------------------------
---------------------- Stats Styles -------------------------
------------------------------------------------------------*/

table {
 width: 100%;
}

th {
  text-align: left; 
}

td {
  text-align: left; 
}

/*-----------------------------------------------------------
---------------------- Custom Styles -------------------------
------------------------------------------------------------*/

* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
	text-align:center;
	padding: 1px;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

.chat-preview {
  overflow: hidden;
}

#body-table {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 1px;
  margin: 1px;
}

#body-table td {
  margin: 0;
  border: 0;
}

.container_1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align:left;
  border-radius: 5px;
  color: #3e4060;
  border: 2px solid #5e648d;
  background-color: #e7e6ef;
  border-color: #69709d;
}

.container_2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align:left;
  border: 2px solid #667788;
  border-radius: 5px;
  background-color: #000000;
}

.container_3 {
  position: relative;
  height: 100%;
  text-align:left;
  border: 2px solid #ced1b8;
  border-radius: 5px;
  background-color: #ffffff;
}

.title h1 {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title h1 a {
  text-decoration: none;
}
.title .title_click {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

.now_title {
  text-align: center;
}
.now_title a {
  text-decoration: none;
  font-size: 16pt;
  color: #ddecf8;
}
.now_info {
  font-size: 8px;
  font-style: italic;
  float: right;
}
.now_desc {
  width: 100%;
  display: none;
}
.next_title {
  text-align: center;
  padding: 4px;
}
.next_title a {
  text-decoration: none;
  font-size: 16pt;
  color: #ddecf8;
}
.next_info {
  font-size: 8px;
  font-style: italic;
  float: right;
}
.next_desc {
  width: 100%;
  display: none;
}
.next_time {
  float: left;
  font-size: 16pt;
  padding: 4px;
}
.now_time {
  float: left;
  font-size: 16pt;
  padding: 4px;
}

img.video_preview {
  width: 300px;
  height: 217px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.video_preload {
  width: 1px;
  height: 1px;
}

#sponsor-cell {
  padding: 5px;
  height: 100px;
}

#sponsor-cell div {
  padding: 5px;
  height: 80px;
  margin: 0;
}

#sponsor-cell #sponsor-1 img {
  padding: 5px;
  height: 80px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

#sponsor-cell #sponsor-2 {
  display: none;
}

#sponsor-cell #sponsor-2 img {
  position: relative;
  top: -10px;
  height: 90px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#sponsor-cell p {
  font-size: 10pt;
  padding: 1px;
  margin: 0;
}

#sponsor-front {
  top: 0;
  padding: 5px;
  width: 240px;
  height: auto;
}

#sponsor-front #sponsor-1 img {
  padding: 10px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sponsor-front #sponsor-1-info {
  display: none;
}

#sponsor-front #sponsor-2 img {
  padding: 10px;
  width: 235px;
  display: block;
}

#sponsor-front p {
  font-size: 10pt;
}

.button {
  width: 60px;
  height: 60px;
  background: #000000;
  z-index: 100;
  background-image: url(/static/third_party/jwplayer/skin/display/background.png);
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.button div {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}

th {
  font-size: 16pt;
}

#options {
  padding: 5px;
  height: 1%;
}

#options div {
  display: inline-block;
  width: auto;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 1px;
  height: 2em;
}

div.options-group ul {
  display: inline;
  padding: 0;
}
div.options-group form {
  display: inline;
}
div.options-group li {
  display: inline;
  list-style-type: none;
}

#player-hd {
  position: absolute;
  top: 20px;
  right: 20px;
}

#player-mode {
  position: absolute;
  top: 100px;
  right: 20px;
}

#player-sizer {
  display:block;
  width:100%;
  height:100%;
  margin: 0 auto;
}

#chat-cell {
  width: 40%;
}

#chat-sizer {
  width: 100%;
  height: 100%;
}

#chat-frame {
  width: 100%;
  height: 100%;
  border: 0;
}


#twitter-cell {
  height: 80px;
}
#twitter-search {
  padding: 6px;
}

/*
#twitter-cell div#twitter-container {
  margin-right: 200px;
}
#twitter-cell table#sponsor-always {
  margin-right: 1px;
  width: 198px;
  float: right;
  height: inherit;
}
#twitter-cell table#sponsor-always td {
  text-align: center;
  vertical-align: middle;
  font-style: italic;
}
#twitter-cell table#sponsor-always td img {
  width: 104px;
  height: 70px;
} */

#twitter-cell .related-tweets {
  border: 0;
  background: white;
  height: 48px;
}

#twitter-search {
  color: black;
}
#twitter-search a {
  color: #999999;
  text-decoration: none;
}

#player {
  float: left;
}

#footer {
  font-size: 8pt;
  height: 1em;
  text-align: right;
}

#footer img {
  height: 1em;
}

#footer a {
  text-decoration: none;
}

#footer-container {
  padding-left: 5px;
  padding-right: 5px;
}

#bug_report_link {
	background: none;
	border: none;
	font-size: 8pt;
	color: blue;
	outline: none;
	cursor: pointer;
}
