* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: black;
	font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
	text-align:center;
	padding: 1px;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

.chat-preview {
  overflow: hidden;
}

#body-table {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 1px;
  margin: 1px;
}

#body-table td {
  margin: 0;
  border: 0;
}

.container_1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align:left;
  border-radius: 5px;
  color: #3e4060;
  border: 2px solid #5e648d;
  background-color: #e7e6ef;
  border-color: #69709d;
}

.container_2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align:left;
  border: 2px solid #667788;
  border-radius: 5px;
  background-color: #000000;
}

.container_3 {
  position: relative;
  height: 100%;
  text-align:left;
  border: 2px solid #ced1b8;
  border-radius: 5px;
  background-color: #ffffff;
}

.container_4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align:left;
  color: #ddecf8;
  padding: 5px;
  border-radius: 5px;
  background-color: #3d91d6;
}

.title h1 {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title h1 a {
  text-decoration: none;
}
.title .title_click {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}

.now_title {
  text-align: center;
}
.now_title a {
  text-decoration: none;
  font-size: 16pt;
  color: #ddecf8;
}
.now_info {
  font-size: 8px;
  font-style: italic;
  float: right;
}
.now_desc {
  width: 100%;
  display: none;
}
.next_title {
  text-align: center;
  padding: 4px;
}
.next_title a {
  text-decoration: none;
  font-size: 16pt;
  color: #ddecf8;
}
.next_info {
  font-size: 8px;
  font-style: italic;
  float: right;
}
.next_desc {
  width: 100%;
  display: none;
}
.next_time {
  float: left;
  font-size: 16pt;
  padding: 4px;
}
.now_time {
  float: left;
  font-size: 16pt;
  padding: 4px;
}

img.video_preview {
  width: 300px;
  height: 217px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.video_preload {
  width: 1px;
  height: 1px;
}

#sponsor-cell {
  padding: 5px;
  height: 100px;
}

#sponsor-cell div {
  padding: 5px;
  height: 80px;
  margin: 0;
}

#sponsor-cell #sponsor-1 img {
  padding: 5px;
  height: 80px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

#sponsor-cell #sponsor-2 {
  display: none;
}

#sponsor-cell #sponsor-2 img {
  position: relative;
  top: -10px;
  height: 90px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#sponsor-cell p {
  font-size: 10pt;
  padding: 1px;
  margin: 0;
}

#sponsor-front {
  top: 0;
  padding: 5px;
  width: 240px;
  height: auto;
}

#sponsor-front #sponsor-1 img {
  padding: 10px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sponsor-front #sponsor-1-info {
  display: none;
}

#sponsor-front #sponsor-2 img {
  padding: 10px;
  width: 235px;
  display: block;
}

#sponsor-front p {
  font-size: 10pt;
}

.button {
  width: 60px;
  height: 60px;
  background: #000000;
  z-index: 100;
  background-image: url(/static/third_party/jwplayer/skin/display/background.png);
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.button div {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  width: 60px;
}

th {
  font-size: 16pt;
}

#options {
  padding: 5px;
  height: 1%;
}

#options div {
  display: inline-block;
  width: auto;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 1px;
  height: 2em;
}

div.options-group ul {
  display: inline;
  padding: 0;
}
div.options-group form {
  display: inline;
}
div.options-group li {
  display: inline;
  list-style-type: none;
}

#player-hd {
  position: absolute;
  top: 20px;
  right: 20px;
}

#player-mode {
  position: absolute;
  top: 100px;
  right: 20px;
}

#player-sizer {
  display:block;
  width:100%;
  height:100%;
  margin: 0 auto;
}

#chat-cell {
  width: 40%;
}

#chat-sizer {
  width: 100%;
  height: 100%;
}

#chat-frame {
  width: 100%;
  height: 100%;
  border: 0;
}


#twitter-cell {
  height: 80px;
}
#twitter-search {
  padding: 6px;
}

/*
#twitter-cell div#twitter-container {
  margin-right: 200px;
}
#twitter-cell table#sponsor-always {
  margin-right: 1px;
  width: 198px;
  float: right;
  height: inherit;
}
#twitter-cell table#sponsor-always td {
  text-align: center;
  vertical-align: middle;
  font-style: italic;
}
#twitter-cell table#sponsor-always td img {
  width: 104px;
  height: 70px;
} */

#twitter-cell .related-tweets {
  border: 0;
  background: white;
  height: 48px;
}

#twitter-search {
  color: black;
}
#twitter-search a {
  color: #999999;
  text-decoration: none;
}

#twitter-juitter {
  width: 100%;
  overflow: hidden;
}

#player {
  float: left;
}

#footer {
  font-size: 8pt;
  height: 1em;
  text-align: right;
}

#footer img {
  height: 1em;
}

#footer a {
  text-decoration: none;
}

#footer-container {
  padding-left: 5px;
  padding-right: 5px;
}
