{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai ft=htmldjango:
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/bstweak.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block head %}
{% endblock %}

  </head>
<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            {% if config.conference %}
              <img alt="{{ config.conference }}" src="{{ config.logobar }}" />
	    {% else %}
	      <img alt="{{ default.conference }}" src="{{ default.logobar }}" />
	    {% endif %}
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          {% block navbar %}{% endblock %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% block navbar-right %}{% endblock %}
	    {% if config.twitter %}
	      <li><a href="https://twitter.com/search?q={{ config.twitter|urlencode }}" title="Search Twitter for {{ config.twitter }}" target="_blank">Twitter</a></li>
	    {% else %}
	      <li><a href="https://twitter.com/search?q={{ default.twitter|urlencode }}" title="Search Twitter for {{ default.twitter }}" target="_blank">Twitter</a></li>

	    {% endif %}
            <li><a href="http://code.timvideos.us" title="This is open source! Go to the project page." target="_blank">Project</a></li>
            {% block navbar-righter %}{% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<div class="container-fluid">
{% block content %}
{% endblock %}
</div>
<!--
    </tr><tr>
      <td id="footer" colspan=100>
        <span id="footer-container">
        All code Open Source
        - Info at <a href="https://code.timvideos.us">
          <img src="/static/img/timvideos-small.png">
          code.timvideos.us</a>
        - Fork on <a href="https://github.com/timvideos">
          <img src="/static/img/github-small.png">
          github</a>
        </span>
      </td>
    </tr>
  </table>
-->

{% block footer %}
{% endblock %}


{% block script %}
{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23123757-1']);
  _gaq.push(['_setDomainName', 'cookies.timvideos.us']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
