{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai ft=htmldjango:
{% endcomment %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

{% block head %}
{% endblock %}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23123757-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  </head>
<body>

  <table id="body-table">
    <tr>
{% block content %}
{% endblock %}
    </tr><tr>
      <td id="footer" colspan={{groups|length}}>
        <span id="footer-container" class="container_3">
        Bandwidth provided by <a href="http://www.aarnet.edu.au">
          AARNET</a>,
        Backend provided by <a href="http://www.orionvm.com.au">
          OrionVM</a>,
        All code Open Source - Fork on <a href="https://github.com/timsvideo">
          <img src="/static/img/github-small.png">
          github</a>!
        </span>
      </td>
    </tr>
  </table>

{% block footer %}
{% endblock %}
</body>
{% block script %}
{% endblock %}
</html>
