{% extends "base-bs.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}

{% block head %}
    <script type="text/javascript" src="/static/js/jquery.tweet.js"></script>
    <link href="/static/css/jquery.tweet.css" media="all" rel="stylesheet" type="text/css"/>
    <script type='text/javascript'>
    jQuery(function(){
        var switter_url = '{% url "switter_tweets" %}';

        // Individual tweets from @PyconAV to inform about the website
        $("#announce").tweet({
            twitter_api_proxy_url: switter_url,

            username: "{{ default.twitter_announce|escapejs }}",
            join_text: "auto",
            avatar_size: 0,
            count: 1,
            auto_join_text_default: "PyCon AV:",
            loading_text: "",
            template: "{text}",

            refresh_interval: 60,

            retweet: false,
        });

        // Twitter search for Individual tweets from @PyconAV to inform about the website
        $("#twitter").tweet({
            twitter_api_proxy_url: switter_url,

            count: 20,
            fetch: 100,
            avatar_size: 32,

            result_type: 'recent',
            retweets: false,
            filter: function(t){
                return !t.retweet && !/RT\s+@/.test(t.tweet_raw_text); 
            },
	    {% if default.twitter_geo %}
            geocode: "{{ default.twitter_geo|escapejs }}",
            {% endif %}
            query: "{{ default.twitter|escapejs }}",
            loading_text: "Searching twitter...",

            refresh_interval: 60,
        });
    });
    </script>
    <script type="text/javascript" src="/static/js/whats_on.js"></script>
    <script type="text/javascript" src="/tracker/streams.js"></script>
    <script type="text/javascript" src="/static/js/bugreport.js"></script>
    <meta http-equiv="refresh" content="{{ config.reload }}">
    <title>{{ default.title }}</title>
{% endblock %}

{% block navbar %}
<li>
  <p class="navbar-text" id="announce"></p>
</li>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-12">
    <table class="table"><tr>
    {% for group, details in groups.items %}
      <td class="{{group}}_td" style="display: none;">
        <div id="{{group}}_title" class="title">
          <h1>
	    <a href="/{{group|urlencode}}">{{details.title}}</a>
          </h1>
        </div>
      </td>
    {% endfor %}
    </tr><tr>
    {% for group, details in groups.items %}
      <td class="{{group}}_td" style="display: none;">
        <div id="{{group}}_now_div" class="now_div">
          <div id='{{group}}_now_time' class='now_time'></div>
          <div id='{{group}}_now_title' class='now_title'></div>
	  <div><a id='{{group}}_now_url' class='now_url'>More info...</a></div>
	</div>
      </td>
    {% endfor %}
    </tr><tr>
    {% for group, details in groups.items %}
      <td id="{{group}}_preview" class="preview {{group}}_td" style="display: none;">
        <div class="container_2" onClick="window.location='/{{group}}'">
          <img id="video-preview-{{group}}" class="video_preview">
        </div>
      </td>
    {% endfor %}
    </tr><tr>
    {% for group, details in groups.items %}
      <td class="{{group}}_td" style="display: none;">
        <div id="{{group}}_next_div" class="next_div">
          <div id='{{group}}_next_time' class='next_time'></div>
          <div id='{{group}}_next_title' class='next_title'></div>
          <div><a id='{{group}}_next_url' class='now_url'>More info...</a></div>
        </div>
      </td>
    {% endfor %}
    </tr><tr>
    {% for group, details in groups.items %}
      <td class="{{group}}_td" style="display: none;">
        <div id="{{group}}_chat" class="chat" onClick="window.location='/{{group}}'">
          <iframe id="chat-preview-{{group}}" class="chat_preview"></iframe>
        </div>
      </td>
    {% endfor %}
    </tr>
    </table>
  </div>
</div>

{% comment %}
<div class="row">
  <div class="col-md-12">
              <div id="sponsor-front" class="sponsor">
               <div id="sponsor-1">
                <a href="{{ default.link }}"><img src="{{ default.logo }}"></a>
               </div>
              </div>
  </div>
</div>
{% endcomment %}

<div class="row">
  <div class="col-md-12">
               
	      <div id="twitter-container" class="container_3">
                <div id="twitter-sizer" class="sizer">
                  <div id="twitter">Searching twitter...</div>
                </div>
              </div>
  </div>
</div>
{% endblock %}


{% block footer %}
  <div id=preload>
{% for group, details in groups.items %}
  <img id="video-preload-{{group}}" class="video_preload">
{% endfor %}
  </div>
{% endblock %}


{% block script %}
<script type="text/javascript">
// Code which the video previews by doing image swapping.
//----------------------------------------------------------------------------/
// Swap the preloaded video image into the main image
{% for group, details in groups.items %}
$('#video-preload-{{group|escapejs}}').load(function() {
  $('#video-preview-{{group|escapejs}}').attr('src', $(this).attr('src'));
  setTimeout(update_video, 15e3);
});
{% endfor %}

var update_video_for = {};
{% for group, details in groups.items %}
update_video_for['{{group}}'] = function() {
 $('#video-preload-{{group|escapejs}}').attr(
  'src', "{{details.preview}}?time="+current_time()
  );
};
{% endfor %}
function update_video() {
  for (var i = 0; i < streamers_active.length; i++) {
    update_video_for[streamers_active[i]]();
  } 
}
//----------------------------------------------------------------------------/
</script>
<script type="text/javascript">
// Code which updates the chat windows
//----------------------------------------------------------------------------/
var update_chat_for = {};
{% for group, details in groups.items %}
update_chat_for['{{group|escapejs}}'] = function() {
 $('#chat-preview-{{group|escapejs}}').attr(
  'src', "{{details.irclog}}"
  );
};
{% endfor %}
function update_chat() {
  for (var i = 0; i < streamers_active.length; i++) {
    var group = streamers_active[i];
    update_chat_for[streamers_active[i]]();
  }
  setTimeout(update_chat, 30e3);
}
//----------------------------------------------------------------------------/
</script>
<script type="text/javascript">
// Code which updates which streams are being displayed.
function update_active_streams() {
  var streamers_inactive = new Array();
  {% for group, details in groups.items %}
  streamers_inactive.push('{{group|escapejs}}');
  {% endfor %}

  for (var i = 0; i < streamers_active.length; i++) {
    var group = streamers_active[i];

    var idx = streamers_inactive.indexOf(group);
    if (idx != -1) {
      streamers_inactive.splice(idx, 1);
      $('.'+group+'_td').show();
    } else {
      // Reload the page as new streamers exist...
      window.src = "/";
    }
  }

  for (var i = 0; i < streamers_inactive.length; i++) {
    var group = streamers_inactive[i];
    $('.'+group+'_td').hide();
  }
}

// Code which updates the currently displayed schedule.
// FIXME: This is all a big hack
{% for group, details in groups.items %}
  function schedule_{{group|escapejs}}_callback() {
    update_schedule($('#{{group|escapejs}}_now_title'), null, '{{details.title|escapejs}}', $('#{{group|escapejs}}_next_title'), null, $('#{{group|escapejs}}_next_time'), $('#{{group|escapejs}}_now_time'),'{{group|escapejs}}', $('#{{group|escapejs}}_now_url'), $('#{{group|escapejs}}_next_url'));
    setTimeout(schedule_{{group|escapejs}}_callback, 60e3);
    setTimeout(function() { location.reload(true); }, {{ config.reload }}e3);
  }
  get_schedule(schedule_{{group|escapejs}}_callback, '{{group|escapejs}}');
{% endfor %}

</script>
<script type="text/javascript">

//----------------------------------------------------------------------------/
$(document).ready(function() {
  update_active_streams();
  update_video();
  update_chat();
});

</script>
{% endblock %}
