{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}

{% block head %}
    <script type="text/javascript" src="/static/third_party/jquery-extra/jquery.juitter-1.0.0.js"></script>
    <script type="text/javascript" src="/static/js/whats_on.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tweet.css">
    <link rel="stylesheet" type="text/css" href="/static/third_party/jquery-extra/jquery.juitter-1.0.0.css">
    <meta http-equiv="refresh" content="{{ config.reload }}">
    <title>{{title}}</title>
{% endblock %}

{% block content %}
    {% for group, details in groups.items %}
      <td>
        <div id="{{group}}_title" class="title">
          <h1>
            <a href="/{{group}}">{{details.title}}<br><span class="title_click">Click to view live stream!</span></a>
          </h1>
        </div>
      </td>
    {% endfor %}
    </tr><tr>
    {% for group, details in groups.items %}
      <td>
        <div id="{{group}}_abstract_div" class="abstract_div">
          <div id='{{group}}_abstract_info' class='abstract_info' onclick='$(".abstract_desc").fadeToggle();'>(More info)</div>
          <div id='{{group}}_abstract_title' class='abstract_title'></div>
          <div id='{{group}}_abstract_desc' class='abstract_desc'></div>
        </div>
      </td>
    {% endfor %}
    </tr><tr>
    {% for group, details in groups.items %}
      <td id="{{group}}_preview" class="preview">
        <div class="container_2" onClick="window.location='/{{group}}'">
          <img id="video-preview-{{group}}" class="video_preview">
        </div>
      </td>
    {% endfor %}
    </tr><tr>
    {% for group, details in groups.items %}
      <td>
        <div id="{{group}}_chat" class="chat" onClick="window.location='/{{group}}'">
          <iframe id="chat-preview-{{group}}" class="chat_preview"></iframe>
        </div>
      </td>
    {% endfor %}
    </tr><tr>
      <td colspan={{groups|length}}>
        <table style="height: 100%; width: 100%;">
          <tr>
            <td class="sponsor-cell">
              <div id="sponsor-front" class="sponsor">
               <div id="sponsor-1">
                <a href="http://us.pycon.org/"><img src="/static/logos/pycon.png"></a>
               </div>
              </div>
            </td>
            <td id="twitter-cell" style="height: auto;">
              <div id="twitter-container">
                <div id="twitter-sizer" class="sizer">
                  <div id="twitter-juitter">
                    <div id="juitterContainer"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </td>
{% endblock %}


{% block footer %}
  <div id=preload>
{% for group, details in groups.items %}
  <img id="video-preload-{{group}}" class="video_preload">
{% endfor %}
  </div>
{% endblock %}


{% block script %}
<script type="text/javascript">
// Swap the preloaded video image into the main image
{% for group, details in groups.items %}
$('#video-preload-{{group|escapejs}}').load(function() {
  $('#video-preview-{{group|escapejs}}').attr('src', $(this).attr('src'));
  setTimeout(update_video, 15e3);
});
{% endfor %}
function update_video() {
{% for group, details in groups.items %}
 $('#video-preload-{{group|escapejs}}').attr(
  'src', "{{details.preview}}?time="+current_time()
  );
{% endfor %}
}

function update_chat() {
{% for group, details in groups.items %}
 $('#chat-preview-{{group|escapejs}}').attr(
  'src', "/{{group|urlencode}}/logs"
  );
{% endfor %}
  setTimeout(update_chat, 30e3);
}

function resize_twitter() {
 $("#twitter-juitter").height(5);
 $("#twitter-juitter").height($("#twitter-cell").innerHeight()-5);
}
$.Juitter.onUpdate = resize_twitter;
$(window).resize(resize_twitter);

$(document).ready(function() {
  resize_twitter();
  $.Juitter.start({
    live:"live-5",
    total: 20,
    searchType: "searchWord",
    searchObject: "{{ default.twitter|urlencode }}",
    });
  update_video();
  update_chat();
});

function schedule_callback() {
{% for group, details in groups.items %}
  update_schedule($('#{{group|escapejs}}_abstract_title'), $('#{{group|escapejs}}_abstract_desc'), '{{details.title|escapejs}}');
{% endfor %}
  resize_twitter();
  setTimeout(schedule_callback, 60e3);
  setTimeout(function() { location.reload(true); }, {{ config.reload }}e3);
}

get_schedule(schedule_callback);
</script>
{% endblock %}
