{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}

{% block head %}
    <script type="text/javascript" src="/static/third_party/jquery-extra/jquery.juitter-1.0.0.js"></script>
    <script type="text/javascript" src="/static/js/whats_on.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/third_party/jquery-extra/jquery.juitter-1.0.0.css">
    <title>Streaming for {{ config.title }}</title>
{% endblock %}

{% block content %}
      <td id="now_cell now_cell_group" colspan=2 style="height: 1px;">
        <div id="showing" class='now_div now_div_group'>
          <div id='now_info' class='now_info now_info_group' onclick='$(".now_desc").fadeToggle();'>(More info)</div>
          <div id='now_time' class='now_time now_time_group'></div>
          <div id='now_title' class='now_title now_title_group'></div>
          <div id='now_desc' class='now_desc now_desc_group'></div>
        </div>
      </td>
    </tr><tr>
      <th id="options" colspan=2>
        <div class="options-group container_1">
          Tweet&nbsp;with&nbsp;hashtag:&nbsp;{{ config.twitter }}
        </div>
        <div class="options-group container_1">
          Web&nbsp;chat&nbsp;at&nbsp;http://pycon.timvideos.us/{{group}}
        </div>
        <div class="options-group container_1">
          Join&nbsp;IRC&nbsp;on&nbsp;irc://irc.frenode.net/{{ config.channel }}
        </div>
      </th>
    </tr><tr>
      <td id="twitter-cell" style="height: auto;">
        <div id="twitter-container" class="container_3">
          <div id="twitter-sizer" class="sizer">
            <div id="twitter-juitter">
              <div id="juitterContainer"></div>
            </div>
          </div>
        </div>
      </td>
      <td id="chat-cell" style="width: 60%;">
        <div id="chat-container" class="container_3">
          <div id="chat-sizer" class="sizer">
            {% if screen %}
            <iframe id="chat-frame"
              src="http://webchat.freenode.net?nick=videoscreen-{{group|urlencode}}&channels={{ config.channel|urlencode }}&uio=MTA9dHJ1ZSYxMT0yMzYe4"></iframe>
            {% else %}
            <iframe id="chat-frame" src="http://webchat.freenode.net?channels={{ config.channel|urlencode }}&uio=MTA9dHJ1ZQ49"></iframe>
            {% endif %}
          </div>
        </div>
      </td>
    </tr><tr>
      <td id="next_cell next_cell_group" colspan=2 style="height: 1px;">
        <div id="showing" class='next_div next_div_group'>
          <div id='next_info' class='next_info next_info_group' onclick='$(".next_desc").fadeToggle();'>(More info)</div>
          <div id='next_time' class='next_time next_time_group'></div>
          <div id='next_title' class='next_title next_title_group'></div>
          <div id='next_desc' class='next_desc next_desc_group'></div>
        </div>
      </td>
{% endblock %}

{% block script %}
<script type="text/javascript">
function resize() {
 $("#twitter-juitter").height(5);
 $("#twitter-juitter").height($("#twitter-cell").innerHeight()-20);
}
$.Juitter.onUpdate = resize;
$(window).resize(resize);

$(document).ready(function() {
  resize();
  $.Juitter.start({
    live:"live-5",
    total: 20,
    searchType: "searchWord",
    searchObject: "{{ config.twitter|urlencode }}",
    });
});

function schedule_callback() {
  update_schedule($('#now_title'), $('#now_desc'), '{{config.title|escapejs}}', $('#next_title'), $('#next_desc'), $('#next_time'), $('#now_time'), '{{group|escapejs}}');
  get_schedule(schedule_callback, '{{group|escapejs}}');
  setTimeout(schedule_callback, 60e3);
  resize();
}

get_schedule(schedule_callback, '{{group|escapejs}}');
</script>
{% endblock %}
