{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% load safe_js %}

{% block head %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/third_party/jwplayer/jwplayer.js"></script>

    <script type="text/javascript" src="/static/js/streams.js"></script>
    <script type="text/javascript" src="/tracker/streams.js"></script>
    <script type="text/javascript" src="/static/js/bugreport.js"></script>
  {% for group in groups %}
    <script type="text/javascript" src="/tracker/{{group}}/stream.js"></script>
  {% endfor %}

    <title>Stream Time for Linux.conf.au!</title>
{% endblock %}

{% block content %}
    <td style="height: 220px;">
      <div>
  {% for group in groups %}
      <div style="float: left; height: 220px; width: auto;">
        {{group}}
        <div id="{{group}}"></div>
      </div>
  {% endfor %}
    </td>
  </tr><tr>
    <td style="height: 300px;">
      <iframe src="/tracker/endpoint/stats"></iframe>
    </td>
  </tr><tr>
      <td id="twitter-cell" style="height: auto;">
        <div id="twitter-container" class="container_3">
          <div id="twitter-sizer" class="sizer">
            <div id="twitter-juitter">
              <div id="juitterContainer"></div>
            </div>
          </div>
        </div>
      </td>
{% endblock %}

{% block script %}
<script type="text/javascript">

function fit_player (group) {
}

function start_it () {
{% for group in groups %}
  if ({{group|safe_js}}_player_jwobject) {
    var state = {{group|safe_js}}_player_jwobject.getState();
    if (state == {{group|safe_js}}_player_jwobject.IDLE) {
        jwplayer_{{group|safe_js}}();
    }
  }
{% endfor %}
}
setInterval(start_it, 1e3);



{% for group in groups %}
var {{group|safe_js}}_player_jwobject = null;
{% endfor %}

function jwplayers() {
{% for group in groups %}
    jwplayer_{{group|safe_js}}();
{% endfor %}
}

{% for group in groups %}
function jwplayer_{{group|safe_js}}() {
  try {
    var jwsettings = {
      autostart: true,
      mute: true,
      //skin: '/static/third_party/jwplayer/skin/glow.zip',
      modes: streamer_{{group|safe_js}}.modes('auto', 'sd'),
      'width': '250', 'height': '200'
    };
    {{group|safe_js}}_player_jwobject = jwplayer('{{group}}').setup(jwsettings);
    {{group|safe_js}}_player_jwobject.onReady(function() {
      var player_sizer = $("#{{group}}");
      {{group|safe_js}}_player_jwobject.resize(player_sizer.width(), player_sizer.height());
    });
  } catch (e) {
    if (window.console) {
      window.console.log([e,' likely stream not registered.']);
    }
  }
}
{% endfor %}


$(function() {
  jwplayers();
});

</script>
{% endblock %}
