{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% load safe_js %}

{% block head %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/third_party/jquery-extra/jquery.juitter-1.0.0.js"></script>
    <script type="text/javascript" src="/static/third_party/jwplayer/jwplayer.js"></script>

    <script type="text/javascript" src="/static/js/streams.js"></script>
    <script type="text/javascript" src="/tracker/streams.js"></script>
  {% for group in groups %}
    <script type="text/javascript" src="/tracker/{{group}}/stream.js"></script>
  {% endfor %}

    <link rel="stylesheet" type="text/css" href="/static/css/tweet.css">
    <link rel="stylesheet" type="text/css" href="/static/third_party/jquery-extra/jquery.juitter-1.0.0.css">
    <title>Stream Time for Linux.conf.au!</title>
{% endblock %}

{% block content %}
    <td style="height: 220px;">
  {% for group in groups %}
      <div style="float: left; height: 220px; width: auto;">
        {{group}}
        <div id="{{group}}_video"></div>
      </div>
  {% endfor %}
    </td>
  </tr><tr>
    <td style="height: 600px;">
  {% for group in groups %}
      <div style="float: left; height: 600px; width: auto;">
        {{group}}
        <div id="{{group}}_audio"></div>
      </div>
  {% endfor %}
    </td>
  </tr><tr>
    <td style="height: 300px;">
      <iframe src="/tracker/endpoint/stats"></iframe>
    </td>
  </tr><tr>
      <td id="twitter-cell" style="height: auto;">
        <div id="twitter-container" class="container_3">
          <div id="twitter-sizer" class="sizer">
            <div id="twitter-juitter">
              <div id="juitterContainer"></div>
            </div>
          </div>
        </div>
      </td>
{% endblock %}

{% block script %}
<script type="text/javascript">

function fit_player (group) {
}

function start_it () {
{% for group in groups %}
  if ({{group|safe_js}}_player_jwobject_video) {
    var state = {{group|safe_js}}_player_jwobject_video.getState();
    if (state == {{group|safe_js}}_player_jwobject_video.IDLE) {
       {{group|safe_js}}_player_jwobject_video.play(true);
    }
  }
{% endfor %}
{% for group in groups %}
  if ({{group|safe_js}}_player_jwobject_audio) {
    var state = {{group|safe_js}}_player_jwobject_audio.getState();
    if (state == {{group|safe_js}}_player_jwobject_audio.IDLE) {
       {{group|safe_js}}_player_jwobject_audio.play(true);
    }
  }
{% endfor %}
}
setInterval(start_it, 1e3);

{% for group in groups %}
var {{group|safe_js}}_player_jwobject_video = null;
var {{group|safe_js}}_player_jwobject_audio = null;
{% endfor %}

function jwplayers() {
  var jwsettings = null;
{% for group in groups %}
try {
    jwsettings = {
      autostart: true,
      mute: false,
      modes: streamer_{{group|safe_js}}.modes('flash', 'sd'),
      'width': '250', 'height': '200'
    };
    {{group|safe_js}}_player_jwobject_video = jwplayer('{{group}}_video').setup(jwsettings);
    {{group|safe_js}}_player_jwobject_video.onReady(function() {
      var player_sizer = $("#{{group}}_video");
      {{group|safe_js}}_player_jwobject_video.resize(player_sizer.width(), player_sizer.height());
    });
} catch (e) {
    if(window.console) window.console.log(["#{{group}}_video", e,' likely stream not registered.']);
}
{% endfor %}
{% for group in groups %}
try {
    jwsettings = {
      autostart: true,
      mute: true,
      modes: streamer_{{group|safe_js}}.modes('audio', 'sd'),
      'width': '250', 'height': '600',
      'provider': 'sound',
      'bufferlength': '0',
      'plugins': {
        'subeq-1': {}
      },
      players: [
       {type: "flash", src: "player.swf"}
      ]
    };
    {{group|safe_js}}_player_jwobject_audio = jwplayer('{{group}}_audio').setup(jwsettings);
    {{group|safe_js}}_player_jwobject_audio.onReady(function() {
      var player_sizer = $("#{{group}}_audio");
      {{group|safe_js}}_player_jwobject_audio.resize(player_sizer.width(), player_sizer.height());
    });
} catch (e) {
  if(window.console) window.console.log(["#{{group}}_video", e,' likely stream not registered.']);
}
{% endfor %}
}

function resize_twitter() {
 $("#twitter-juitter").height(5);
 $("#twitter-juitter").height($("#twitter-cell").innerHeight()-5);
}
$.Juitter.onUpdate = resize_twitter;

function ready() {
  $.Juitter.start({
    live:"live-5",
    total: 20,
    searchType: "searchWord",
    searchObject: encodeURIComponent("{{default.twitter}}"),
    });
  jwplayers();
}
$(document).ready(ready);

</script>
{% endblock %}
