<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/third_party/jwplayer/jwplayer.js"></script>
    <script type="text/javascript" src="/static/third_party/flowplayer/example/flowplayer-3.2.6.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Tim's Video Streaming</title>
  </head>
<body>

  <div id="page">
    <div id="sizer-player" style="display:block;width:100%;height:100%;margin: 0 auto;">
      <a href="" id="player"></a>
    </div>
  </div>

<script type="text/javascript">
var streamer="http://ec2-50-19-36-221.compute-1.amazonaws.com:8080/";

flowplayer("player",
{
        src: "/static/third_party/flowplayer/flowplayer-3.2.7.swf",
        wmode: "transparent"
},
{
        clip: {
                url: streamer +'webcast-low.flv',
                scaling: "fit",
                bufferLength: "0"
        },
        plugins: {
                content: {
                        backgroundGradient: [1.0, 0.0],
                        backgroundColor: '#111111',
                },
                controls: null,
                gatracker: {
                        url: "/static/third_party/flowplayer/flowplayer.analytics-3.2.2.swf",
                        events: {
                                all: true
                        },
                        accountId: "UA-23123757-1" // your Google Analytics id here
                }
        }
});
    </script>
</body>
</html>
