{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/third_party/jquery-extra/jquery.relatedtweets-1.0.min.js"></script>
    <script type="text/javascript" src="/static/third_party/jwplayer/jwplayer.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tweet.css">
    <title>Tim's Video Streaming for {{ group|upper }}</title>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23123757-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  </head>
<body>

  <table id="body-table">
    <tr>
      <td id="player-cell">
        <div id="player-container" class="container">
          <div id="player-hd" class="button"><div id="player-hd-center">HD<br>auto</div></div>
          <!-- <div id="player-mode" class="button"><div id="player-mode-center"></div></div> -->
          <div id="player-sizer" class="sizer">
            <a href="" id="player"></a>
          </div>
        </div>
      </td>
      <td id="chat-cell">
        <div id="chat-container" class="container">
          <div id="chat-sizer" class="sizer">
            <iframe id="chat-frame" src="http://webchat.freenode.net?channels={{ group|urlencode }}&uio=MTA9dHJ1ZQ49"></iframe>
          </div>
        </div>
      </td>
    </tr><tr>
      <td id="twitter-cell" colspan=2>
        <div id="twitter-container" class="container">
          <div id="twitter-sizer" class="sizer">
            <div class="related-tweets" options="{debug: false}">Related tweets loading....</div>
            <div id="twitter-search">Search on Twitter:
              <a class=tag href="http://search.twitter.com/search?q=%23{{ hashtag|urlencode }}" rel="tag">{{ hashtag }}</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
<script type="text/javascript">
/**
 * Get Unix timestamp
 */
function time () {
  return new Date().getTime();
}

// Server which is doing the streaming
var streamer="http://49.156.19.78:8080/";

// Offline streaming
var offline = streamer+'webcast-low.ogv';

// HTML5 streaming
var html5_high = [
  { file: streamer+'webcast-high.webm' },
  { file: streamer+'webcast-high.ogv' },
  //{ file: streamer+'webcast-high.mp4' },
];
var html5_low = [
  { file: streamer+'webcast-low.webm' },
  { file: streamer+'webcast-low.ogv' },
  //{ file: streamer+'webcast-low.mp4' },
];
// Flash streaming
var flash_high = [
  { bitrate: "800", file: streamer+'webcast-high.flv', width: "720" }
];
var flash_low = [
  { bitrate: "300", file: streamer+'webcast-low.flv', width: "432" },
];
// Flash Streaming - with automatic format switching
var flash_auto = flash_high.concat(flash_low);

// Create the jwplayer
var player = jwplayer("player").setup({
  autostart: true,
  plugins: {
    qualitymonitor: {},
    'gapro-2': {
      'trackstarts': true,
      'trackpercentage': false,
      'trackseconds': false
    }
  },
  skin: '/static/third_party/jwplayer/skin/glow.zip',
  modes: [
{% if html5 %}
    {type: "html5",
      config: {levels: html5_high}},
{% endif %}
    {type: "flash", src: "/static/third_party/jwplayer/player.swf",
      config: {levels: flash_auto}},
    {type: "download",
      config: {file: offline}},
  ]
});

/**
 * Resize the player to fit the window.
 */
var player_sizer = $("#player-sizer");
function fit_player () {
  // Turn off HD
  if (player_sizer.height() < 432) {
    hd_off();
  }
  jwplayer("player").resize(player_sizer.width(), player_sizer.height());
}
player.onReady(fit_player);

// When the window's size changes, so does ours.
$(window).resize(fit_player);

/**
 * HD stream toggle
 */
var player_hd = $('#player-hd');
function hd_toggle () {
  if (player_hd.text() != 'HD on') {
    hd_on();
  } else {
    hd_off();
  }
}
function hd_on () {
  if (player.renderingMode == 'html5') {
    player.load({levels: html5_high});
  } else {
    player.load({levels: flash_high});
  }
  $('#player-hd-center').text('HD on');
}
function hd_off () {
  if (player.renderingMode == 'html5') {
    player.load({levels: html5_low});
  } else {
    player.load({levels: flash_low});
  }
  $('#player-hd-center').text('HD off');
}

player_hd.click(hd_toggle);
{% if hdoff %}
hd_toggle();
hd_toggle();
{% endif %}

/**
 * Flash/HTML5 mode toggle
 */
/*
function mode_toggle () {
  // Stop and delete the current player
  player.stop();
  player = null;
  $('#player').empty();

  options = {
    autostart: true,
    plugins: {
      qualitymonitor: {}
    },
    skin: '/static/third_party/jwplayer/skin/glow.zip',
  };

  if (player_mode.text()  == 'Flash') {
    //Converting to auto
    options.modes = [
      {type: "html5",
        config: {levels: html5_high}},
      {type: "flash", src: "/static/third_party/jwplayer/player.swf",
        config: {levels: flash_auto}},
      {type: "download",
        config: {file: offline}},
    ];
    $('#player-mode-center').('<h1>Auto</h1><h2>HTML5</h2>');

  } else if (player_mode.text() == 'Auto') {
    // Converting to HTML5
    options.modes = [
      {type: "html5",
        config: {levels: html5_high}},
      {type: "download",
        config: {file: offline}},
      ],
    });
    $('#player-mode-center').('<h1>HTML5</h1><h2></h2>');

  } else {
    // Converting to Flash
    options.modes = [
      modes: [
        {type: "flash", src: "/static/third_party/jwplayer/player.swf",
          config: {levels: flash_auto}},
        {type: "download",
          config: {file: offline}},
      ],
    });
    $('#player-mode-center').text('Flash');
  }
  player = jwplayer("player").setup(options);
}
*/

/**
 * Show and hide the extra buttons
 */
var buttons_hd_show = 0;
function buttons_show () {
  player_hd.stop(true,true);
  player_hd.fadeIn('slow');
//  player_mode.stop(true,true);
//  player_mode.fadeIn('slow');

  buttons_hd_show = time();
  window.setTimeout(buttons_hide, 2000);
}
function buttons_hide () {
  if ((time() - buttons_hd_show) > 1900) {
    var player_state = player.getState()
    if (player_state == "IDLE" || player_state == "PAUSED") {
      window.setTimeout(buttons_hide, 2000);
    } else {
      player_hd.fadeOut('slow');
//    player_mode.fadeOut('slow');
    }
  }
}

player_sizer.mousemove(buttons_show);

    </script>
</body>
</html>
