-e git+https://github.com/mithro/django-testing-fixes.git#egg=django-testing-fixes
-e git+https://bitbucket.org/mithro/django-switter.git#egg=django-switter
-e git+https://github.com/mithro/python-datetime-tz.git#egg=python-datetime-tz
django>=1.6
BeautifulSoup4
django-live-server
gunicorn
pylint
South
pytz
python-dateutil
markdown
