-e git://github.com/mithro/git-cl.git#egg=git-cl
-e git://github.com/mithro/django-testing-fixes.git#egg=django-testing-fixes
BeautifulSoup4
Django==1.3.1
django-live-server
distribute>=0.6.14
django-extensions==0.7.1
ez-setup==0.9
pylint==0.25.1
unittest2==0.5.1
gunicorn==0.13.4
simplejson
selenium
