-e git://github.com/mithro/git-cl.git#egg=git-cl
-e git://github.com/mithro/django-testing-fixes.git#egg=django-testing-fixes
django==1.5
BeautifulSoup4
django-live-server
distribute>=0.6.14
django-extensions
ez-setup
gunicorn
ordereddict
pylint
simplejson
unittest2

pytz
python-dateutil
markdown
